In [1]:
import pandas as pd

import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt

import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [3]:
df0=pd.read_csv('Airlines.csv')

In [4]:
df = df0.copy()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539383 entries, 0 to 539382
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           539383 non-null  int64
 1   Airline      539383 non-null  object
 2   Flight       539383 non-null  int64
 3   AirportFrom  539383 non-null  object
 4   AirportTo    539383 non-null  object
 5   DayOfWeek    539383 non-null  int64
 6   Time         539383 non-null  int64
 7   Length       539383 non-null  int64
 8   Delay        539383 non-null  int64
dtypes: int64(6), object(3)
memory usage: 37.0+ MB

In [13]:
df2 = df.groupby('DayOfWeek').mean('Delay')
df2

                      id       Flight        Time      Length     Delay
DayOfWeek
1          278225.693056  2426.371023  803.127458  131.565488  0.467644
2          298594.167620  2432.039066  803.827432  131.088071  0.447337
3          255463.633711  2431.872629  806.492200  130.971553  0.470818
4          271730.159724  2421.149040  806.121297  131.677041  0.451025
5          275040.677576  2411.758986  790.066887  132.762024  0.416608
6          244618.295627  2453.811995  784.847564  135.516131  0.400553
7          261534.638647  2427.049371  822.453369  132.790066  0.453541

In [11]:
df.groupby('DayOfWeek')['id'].count()

DayOfWeek
1    72769
2    71340
3    89746
4    91445
5    85248
6    58956
7    69879
Name: id, dtype: int64

In [16]:
Corr1 = df2['Length'].corr(df2['Delay'])
Corr1

-0.8480157878109481

In [17]:
Corr2 = df2['Length'].corr(df2['Time'])
Corr2

-0.5388739837127804